version: '3'
services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    ports:
      - '127.0.0.1:9090:9090'
    volumes:
      - '/tmp/prometheus.yml:/etc/prometheus/prometheus.yml'
    extra_hosts:
      - 'host.docker.network:host-gateway'
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9090/-/healthy"] 
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
networks:
  coolify:
    driver: bridge
